@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply text-sm h-5/6 flex relative items-center after:absolute after:w-0 after:bottom-0 after:h-[2px] after:left-[calc(50%-2px)] after:bg-zinc-500 hover:after:animate-spread-bottom;
	}

	.emeraldGradientLeft {
		@apply bg-gradient-to-tr from-emerald-600 to-teal-600 bg-clip-text text-transparent;
	}
	.emeraldGradientRight {
		@apply bg-gradient-to-br from-teal-600 to-cyan-800 bg-clip-text text-transparent;
	}

	.redGradientLeft {
		@apply bg-gradient-to-tr from-blue-800 to-indigo-600 dark:from-red-100 dark:to-red-500 bg-clip-text text-transparent;
	}
	.redGradientRight {
		@apply bg-gradient-to-tr from-red-400 to-red-800 bg-clip-text text-transparent;
	}
	.blueGradientLeft {
		@apply bg-gradient-to-br from-blue-600 to-blue-400 dark:from-blue-100 dark:to-blue-500 bg-clip-text text-transparent;
	}
	.blueGradientRight {
		@apply bg-gradient-to-tr from-blue-400 to-blue-800 bg-clip-text text-transparent;
	}

	.primary-btn {
		@apply relative w-full h-full flex items-center justify-center rounded-sm text-white dark:bg-indigo-700 dark:hover:bg-indigo-500 bg-emerald-600 hover:bg-emerald-400 disabled:bg-gray-300 dark:disabled:bg-[#141414];
	}

	.input {
		@apply text-sm outline-none px-4 py-3 border-none bg-gray-300 focus-within:bg-gray-300/70 dark:bg-[#161616] dark:focus-within:bg-[#191919];
	}

	.custom-loader {
		@apply w-6 h-6 rounded-full animate-spin border-4 border-dotted border-l-emerald-600 border-t-emerald-600 border-r-white border-b-white;
	}

	body.dark .custom-loader {
		@apply border-l-indigo-700 border-t-indigo-700;
	}

	.blog-container pre {
		@apply text-sm whitespace-pre-wrap bg-black text-white dark:bg-zinc-800/95;
	}

	.text-container {
		@apply h-10 overflow-y-hidden text-ellipsis mb-[5px];
		line-clamp: 2;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

body {
	font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-thumb {
	background: #000;
}

body.dark::-webkit-scrollbar-track {
	background: #121212;
}

body::-webkit-scrollbar-track {
	background: #ccc;
}
