@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-loader {
    border-color: #000 #000 #000 #ccf;
}

body.dark .custom-loader {
    border-color: #fff #fff #fff #ccf;
}

@layer components {

    .nav-link {
        @apply h-[90%] flex items-center hover:after:animate-spreadBottom focus:after:animate-spreadBottom relative after:absolute after:bottom-0 
        after:w-0 after:h-[2px] after:bg-zinc-500 after:left-[calc(50%-2px)];

    }

    .emeraldGradientLeft {
        @apply bg-gradient-to-br from-emerald-800 to-emerald-400 dark:from-emerald-100 dark:to-emerald-500 bg-clip-text text-transparent;
    }
    .emeraldGradientRight {
        @apply bg-gradient-to-tr from-emerald-400 to-emerald-800 bg-clip-text text-transparent;
    }

    .redGradientLeft {
        @apply bg-gradient-to-br from-red-800 to-red-400 dark:from-red-100 dark:to-red-500 bg-clip-text text-transparent;
    }
    .redGradientRight {
        @apply bg-gradient-to-tr from-red-400 to-red-800 bg-clip-text text-transparent;
    }
    .blueGradientLeft {
        @apply bg-gradient-to-br from-blue-600 to-blue-400 dark:from-blue-100 dark:to-blue-500 bg-clip-text text-transparent;
    }
    .blueGradientRight {
        @apply bg-gradient-to-tr from-blue-400 to-blue-800 bg-clip-text text-transparent;
    }
}

